html{
    height: 140vh;
    width: 100%;
}
body{  
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url(birds.jpg);
    background-size: cover;
    background-position: center;
    
}
.navbar{
    display: flex;
    justify-content: space-between;   
    align-items: center;     
    background: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(o, 0, o, .2);
    border-radius: 5px;
    padding: 10px 30px; 
}

.logo{
    font-family: "Orbitron", serif;
    letter-spacing: 5px;
    color: aquamarine;
}

.navbar ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;    
}

.navbar ul li a {    
    text-decoration: none;
    color: #fff;
}
.H a{
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    font-size: 15px;
    background-color: transparent;
    border-radius: 8px;
    transition: 4s;
}

.H a:hover{
    background-color: transparent;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    
}
.login a{
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    font-size: 15px;
    background-color: indianred;
    border-radius: 8px;
    transition: 0.5s;
}

.login a:hover{
    background-color: transparent;
    border: 2px solid indianred;
}
.navbar label{
    display: none;
}
#click{
    display: none;
}
#click:checked~.navbar ul{
    display: block;
}


@media screen and (max-width:735px){
    .navbar label{
        display: block;
    }
    .navbar ul{
        display: none;
        position: absolute;
        top: 100px;
        right: 0%;
        background-color:transparent;       
        gap: 5px;
    } 
    .navbar ul li{      
        padding: 12px;
        color: #fff;
    }   
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap:50px;
    padding:90px;
    align-items: center;

}
.T1{
    height: 100%;
    top: 40%;
    left: 5%;
    color: #fff;
    padding: 50px;
}
.T1 h1{
    font-size: 39px;
    font-family: "Yatra One", serif;
    color: aqua;
}
.T1 h1::first-line{
    color:#fff;
    font-size: 50px;
    letter-spacing: 3px;
 
}
.btn a{
    
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 5px;
    border: 2px solid indianred;
    border-radius: 10px;
    transition: 0.5s;
}
.btn a:hover{
    background:salmon;
    border: transparent;
    color: #333;
}   
.T2{
    padding: 0px;
    border: 0px solid ;
    border-radius: 20px;
}
.T2 img{
    border: 0px ;
    border-radius: 20px;
    
}

.T2 img:hover{ 
        box-shadow: 0px 1px 9px 5px #fff;
        border-radius: 20px;
        bottom: 50px;
        scale: 1.1;
        border: none;
        transition:.8s;
       
    }
@media screen and (max-width:900px){
        .wrapper{
            
            grid-template-columns: repeat(1,auto);
            grid-template-rows: repeat(2,auto);
            justify-content: center;
            row-gap: 2px;
            padding-top: 1px;
            text-shadow: 1px 1px 3px salmon;
            align-items: center;
        }

        .T1 p{
                padding-right: 50px;
        }
     
       .T2{
        padding-left: 50px;
       } 
    } 
    
    
.footer p{

    border-top: 3px dotted #fff;
    color: #fff;
    text-align: center;
    padding: 20px;

}