body{   height: 100vh;
        background:url(peacock5\ \(7\).jpg);
        background-size: cover;
        background-position: center;
}
.peamain{
   display: grid;
   grid-template-columns: repeat(2,auto);
   grid-template-rows: repeat(1,100vh);
    justify-content: space-around;
   justify-content: center;
    gap: 300px;
    background-color: transparent;
}

.ch1 H1{
    
    background-color: transparent;
    font-family: "Yatra One", serif;
    font-size: 290%;
    color: blue;
    letter-spacing: 5px;
    padding: 100PX;
    text-shadow:-2px -5px 5px #fff;;
}
.ch1 .btn a{
    position: absolute;
    left: 7%;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 5px;
    border: 2px solid ;
    border-radius: 10px;
    transition: 0.5s;
}
.ch1 .btn a:hover{
    background:salmon;
    border: transparent;
    color: #333;
}   
.ch2{
    padding-right: 20px;
    padding-top: 150px;   
    color: #fff;
    
    font-size: 150%;
    font-family: "Raleway", serif;
}